.app {
    height: 100vh;
}

.sidebar {
    position: absolute;
    width: 231px;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: #CEF3FF;

}

.img {
    font-family: 'Titillium Web';
    font-size: 40px;
    font-weight: 800;
    color: #0884FF;
    margin-left: 10px;
    margin-top: 30px;
    position: absolute;
    width: 83px;
    height: 40px;
    left: 50px;
    top: 13px;
}

.sidebar-nav {
    margin-top: 150px;
    width: 13em;
    height: 100%;
    font-weight: 400;
    font-size: 1.2em;
    overflow: auto;
    padding-bottom: 6em;
    z-index: 9;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

li {
    margin-left: 0;
    padding-left: 0;
    display: inline-block;
    width: 100%;
}

.dashboardTotalContacts {
    font-family: 'Titillium Web';
    color: black;
    opacity: 0.9;
    font-weight: 600;
    font-size: 18px;
    padding: 1.05em 1em;
    position: relative;
    display: block;
    cursor: pointer;
    text-decoration: none;
}

.dashboardTotalContacts:hover {
    font-family: 'Titillium Web';
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 1.05em 1em;
    position: relative;
    width: 150px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    background: #2DA5FC;
    border-radius: 6px;
}

.md {
    margin-right: 10px;
    font-size: 20px;
}

.logoutbtn {
    position: absolute;
    left: 5.5%;
    right: 12.5%;
    top: 90.5%;
    bottom: 2.5%;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-family: 'Titillium Web';
    font-weight: bolder;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}