* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    position: relative;
    height: 340px;
    width: 345px;
    left: 50%;
    top: 35vh;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: -2px 2px 10px 2px ;
}


.importSign {
    position: relative;
    right: 2em;
    bottom: 0.8em;
}

.importSign, .circle {
    position: absolute;
    left: 50%;
    top: 3em;
    transform: translate(-50%, -50%);
}

.heading {
    position: absolute;
    left: 50%;
    top: 15vh;
    transform: translate(-50%, -50%);
}

#choose-file {
    position: absolute;
    left: 50%;
    top: 30vh;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#label {
    position: absolute;
    left: 50%;
    top: 25vh;
    transform: translate(-50%, -50%);
    font-size: larger;
    font-weight: bold;
    color: #2DA5FC;

}

#cancel {
    position: relative;
    width: 124px;
    height: 34px;
    left: 50%;
    top: 35vh;
    transform: translate(-50%, -50%);
    background: #2DA5FC;
    color: white;
    border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
}